body {
  background:#000;
  color:#00ff00;
  font-family:Consolas, monospace;
  font-size:14px;
  margin:0;
}

#wrap {
  display:flex;
  align-items:flex-start;
  padding:8px;
}

#info {
  white-space:pre;
  flex:1;
}

#info.changelog {
  overflow-y:auto;
  height:100%;
}

#logo {
  margin-left:20px;
  max-width:180px;
  height:auto;
}
